<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">

    <div style="opacity: 1">


        <h1>Poker Hand Winner is: ${winner}</h1>

                <#list hands as hand>
                    <#list hand.cards as card>
                        <img src="/assets/images/cards/${card.rank}_${card.suit}.png" style="width:150px;height:228px">
                    </#list>
                    <br><br><br><br><br>
                </#list>

        <h2>You have a ${result0}</h2>


        <!-- <a href="/hello_world.json">Hello World Json</a> -->
    </div>
</@layout.myLayout>