<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "History">

    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Game Number</th>
                <th>User</th>
                <th>Win Round</th>
                <th>Date</th>
            </tr>
            <#list game_histories as game_test>
                <tr>
                    <td>
                        ${game_test.id}
                    </td>
                    <td>
                        ${game_test.user.username}
                    </td>
                    <td>
                        ${game_test.winRound?c}
                    </td>
                    <td>
                        ${game_test.game.gameDate}
                    </td>
                </tr>
            </#list>
            </thead>
            <tbody>

            </tbody>

        </table>
    </div>
</@layout.myLayout>